/* ============================================================

320 and Up by Andy Clarke
Version: 3.0
URL: http://stuffandnonsense.co.uk/projects/320andup/

Sass Port by Jina Bolton
URL: http://sushiandrobots.com/

Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

Website theme for:
http://stuffandnonsense.co.uk/projects/320andup/

============================================================ */
/* Variables =================================================== */
/* Mixins =================================================== */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { position: static; clip: auto; height: auto; width: auto; margin: 0; overflow: visible; }

html { background: #2d353e url(../img/body.png) repeat 0 0; font-size: 62.5%; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: #6e8196; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; padding: 1.5em 0 0 0; width: 100%; font-size: 16px; font-size: 1.6rem; font-family: "facitweb-1","facitweb-2", sans-serif; line-height: 1.4; color: #c1c5ca; background-color: transparent; }

h1, h2, h3, h4, h5, h6 { font-weight: 700; }

a, a:visited, a:hover, a:active, a:focus { color: white; }

a:active, a:focus { position: relative; top: 1px; outline: none; }

.btn { display: inline-block; *display: inline; /* IE7 inline-block hack */ *zoom: 1; *margin-left: .3em; padding: 11px 22px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-size: 1.4rem; font-weight: bold; line-height: 1.5; color: white; text-align: center; vertical-align: middle; background-color: #22282f; cursor: pointer; text-decoration: none; }

.btn:first-child { margin-bottom: 1.5em; }

.list-bordered li { border-bottom-color: #22282f; }

[role="banner"] { margin: 0 auto 1.5em; width: 90%; border-bottom: 10px solid #22282f; }

[role="banner"] hgroup { width: 100%; padding-top: 190px; background: transparent url(../img/banner-160.png) no-repeat 50% 0; text-align: center; }

[role="banner"] h1 { font-size: 48px; font-size: 4.8rem; }

[role="banner"] .btn-group { text-align: center; }

[role="banner"] a[href="#navigation"] { display: none; background-color: #424e5c; border: 1px solid #22282f; color: white; }

.content { margin: 0 auto; width: 90%; }

[role="navigation"] { background-color: #424e5c; border: 1px solid #22282f; }

[role="banner"] h1 { margin-bottom: 0.375em; }

[role="banner"] a[href="http://stuffandnonsense.co.uk/projects/320andup/"] { display: block; text-decoration: none; }

.grids { width: 90%; margin: 0 auto 1.5em; padding: 1.5em 0; border-top: 5px solid #22282f; border-bottom: 5px solid #22282f; }

.grid { border-bottom: 1px solid #22282f; }

.furniture-letter { overflow: hidden; margin: 0; line-height: 44px; }

.furniture-letter span { display: block; float: left; margin: 0 12px 0 0; height: 44px; width: 44px; background-color: #424e5c; border: 1px solid #181c20; font-size: 32px; font-size: 3.2rem; font-weight: bold; line-height: 44px; text-align: center; color: white; }

[role="contentinfo"] { background-color: rgba(0, 0, 0, 0.25); border-top: 5px solid #22282f; }

@media only screen and (min-width: 480px) { .btn:first-child { margin-bottom: 0; } }
@media only screen and (min-width: 600px) { [role="banner"] hgroup { padding-top: 0; padding-left: 100px; width: 100%; min-height: 100px; background: transparent url(../img/banner-80.png) no-repeat 0 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; text-align: left; }
  [role="banner"] .btn-group { text-align: left; padding-left: 100px; } }
@media only screen and (min-width: 768px) { [role="banner"], [role="navigation"] p, .content, [role="contentinfo"] small { width: 60%; }
  [role="navigation"] { display: table-header-group; background-color: rgba(0, 0, 0, 0.25); border-bottom-width: 5px; } }
@media only screen and (min-width: 992px) { [role="navigation"] p, .content, [role="contentinfo"] small { width: 80%; }
  [role="banner"] { width: 80%; height: 240px; padding-right: 240px; background: transparent url(../img/header.png) no-repeat 100% 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
  [role="banner"] hgroup { padding-left: 0; background-image: none; }
  [role="banner"] .btn-group { padding-left: 0; }
  .grids h2 { margin-bottom: 1.5em; text-align: center; } }
