// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/

// Sass Port by Jina Bolton
// URL: http://sushiandrobots.com/

// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Buttons =================================================== */

.btn {
display : inline-block;
*display : inline;
/* IE7 inline-block hack */
*zoom : 1;
padding : 6px 11px 6px;
margin-bottom : 0;
@include sans-serif;
@include font-size(12);
font-weight : bold;
line-height : 1.5;
color : $darkgrey;
text-align : center;
vertical-align : middle;
background-color : $lightergrey;
@include greygrad;
border : 1px solid darken($lightergrey, 10%);
border-bottom-color : darken($lightergrey, 20%);
@include border-radius(4px, 4px, 4px, 4px);
-webkit-box-shadow : inset 0 1px 0 rgba(255,255,255,.25);
-moz-box-shadow : inset 0 1px 0 rgba(255,255,255,.25);
box-shadow : inset 0 1px 0 rgba(255,255,255,.25);
cursor : pointer;
*margin-left : .3em; 

&:visited,
&:hover {
color : $darkgrey;
text-decoration : none; }
}

.btn:first-child {
*margin-left : 0; }

// danger

.btn-danger {
background-color : $dangercolor;
@include dangergrad;
border : 1px solid darken($dangercolor, 30%);
border-bottom-color : darken($dangercolor, 25%);
color : lighten($dangercolor, 50%); 

&:visited,
&:hover {
color : $white; }
}

// disabled

.btn-disabled {
background-color : $lightergrey;
@include greygrad;
border : 1px solid darken($lightgrey, 15%);
border-bottom-color : darken($lightgrey, 20%); 
color : darken($lightgrey, 50%);
text-shadow : 0 1px 1px rgba(255,255,255,.5); 

&:visited,
&:hover {
color : darken($lightgrey, 50%); }
}

// info

.btn-info {
background-color : $infocolor;
@include infograd;
border : 1px solid darken($infocolor, 15%);
border-bottom-color : darken($infocolor, 20%); 
color : darken($infocolor, 50%);
text-shadow : 0 1px 1px rgba(255,255,255,.5); 

&:visited,
&:hover {
color : darken($infocolor, 50%); }
}

// inverse

.btn-inverse {
background-color : $inverscolor;
@include inversegrad;
border : 1px solid darken($inverscolor, 15%);
border-bottom-color : darken($inverscolor, 20%); 
color : $white; 

&:visited,
&:hover {
color : $white; }
}

// primary

.btn-primary {
background-color : $linkcolor;
@include linkgrad;
border : 1px solid darken($linkcolor, 30%);
border-bottom-color : darken($linkcolor, 25%);
color : $white; 

&:visited,
&:hover {
color : $white; }
}

// success

.btn-success {
background-color : $successcolor; 
@include successgrad;
border : 1px solid darken($successcolor, 15%);
border-bottom-color : darken($successcolor, 20%); }

// warning

.btn-warning {
background-color : $warningcolor;
@include warninggrad;
border : 1px solid darken($warningcolor, 15%);
border-bottom-color : darken($warningcolor, 20%); }

// sizes

.btn-extlarge {
padding : 11px 22px;
background-color : $basecolor;
@include basegrad;
border : 1px solid darken($basecolor, 10%);
border-bottom-color : darken($basecolor, 15%);
@include font-size(21);
font-weight : 200;
letter-spacing : 1px; 
line-height : normal;
color : $white;
-webkit-border-radius : 4px;
-moz-border-radius : 4px;
border-radius : 4px; }

a.btn-extlarge,
a.btn-extlarge:hover {
color : $white; }

.btn.btn-large {
*padding-top : 7px;
*padding-bottom : 7px; }

.btn-large {
padding : 11px 22px;
@include font-size(14);
line-height : normal;
-webkit-border-radius : 4px;
-moz-border-radius : 4px;
border-radius : 4px; }

.btn-small {
padding : 6px 10px;
@include font-size(11); 
line-height : 16px; }

.btn-mini {
padding : 3px 5px;
@include font-size(11); 
line-height : 14px; }

.btn-group {
position : relative;
*zoom : 1;
*margin-left : .3em;
margin-bottom : $baseline; }

.btn-group .btn {
position : relative;
float : left;
margin-left : -1px;
-webkit-border-radius : 0;
-moz-border-radius : 0;
border-radius : 0; }

.btn-group .btn:first-child {
margin-left: 0;
-webkit-border-top-left-radius : 2px;
-moz-border-radius-topleft : 2px;
border-top-left-radius : 2px;
-webkit-border-bottom-left-radius : 2px;
-moz-border-radius-bottomleft : 2px;
border-bottom-left-radius : 2px; } 

.btn-group .btn:last-child {
-webkit-border-top-right-radius : 2px;
-moz-border-radius-topright : 2px;
border-top-right-radius : 2px;
-webkit-border-bottom-right-radius : 2px;
-moz-border-radius-bottomright : 2px;
border-bottom-right-radius : 2px; }

.btn-group .btn.large:first-child {
margin-left : 0;
-webkit-border-top-left-radius : 4px;
-moz-border-radius-topleft : 4px;
border-top-left-radius : 4px;
-webkit-border-bottom-left-radius : 4px;
-moz-border-radius-bottomleft : 4px;
border-bottom-left-radius : 4px; }

.btn-group .btn.large:last-child {
-webkit-border-top-right-radius : 4px;
-moz-border-radius-topright : 4px;
border-top-right-radius : 4px;
-webkit-border-bottom-right-radius : 4px;
-moz-border-radius-bottomright : 4px;
border-bottom-right-radius : 4px; }

.btn-toolbar {
clear : both;
margin-top : $baseline / 2;
margin-bottom : $baseline / 2; }

.btn-toolbar .btn-group {
display : inline-block;
*display : inline;
*zoom : 1; }