// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/

// Sass Port by Jina Bolton
// URL: http://sushiandrobots.com

// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Mixins =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================

@mixin font-size($font-size: 16){
font-size : $font-size * 1px;
font-size : #{$font-size / 10}rem; }

@mixin sans-serif() {
font-family : "Helvetica Neue", Helvetica, Arial, sans-serif; }

@mixin serif() {
font-family : Cambria, Georgia, Times, "Times New Roman"; }

@mixin monospace() {
font-family : "Monaco", Courier New, monospace; }

@mixin text-overflow() {
overflow : hidden;
text-overflow : ellipsis;
white-space : nowrap; }

// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================

// .bordered(COLOR, COLOR, COLOR, COLOR);

@mixin bordered($top-color: #eee, $right-color: #eee, $bottom-color: #eee, $left-color: #eee) {
border-top : solid 1px $top-color;
border-left : solid 1px $left-color;
border-right : solid 1px $right-color;
border-bottom : solid 1px $bottom-color; }

// .border-radius(5px, 0, 0, 5px);

@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
-webkit-border-top-right-radius : $topright;
-webkit-border-bottom-right-radius : $bottomright;
-webkit-border-bottom-left-radius : $bottomleft;
-webkit-border-top-left-radius : $topleft;
-moz-border-radius-topright : $topright;
-moz-border-radius-bottomright : $bottomright;
-moz-border-radius-bottomleft : $bottomleft;
-moz-border-radius-topleft : $topleft;
border-top-right-radius : $topright;
border-bottom-right-radius : $bottomright;
border-bottom-left-radius : $bottomleft;
border-top-left-radius : $topleft;
-webkit-background-clip : padding-box;
-moz-background-clip : padding;  
background-clip : padding-box; }

// .box-shadow(0 1px 2px rgba(0,0,0,.5))

@mixin box-shadow($shadow: 0 1px 3px rgba(0,0,0,.25)) {
-webkit-box-shadow : $shadow;
-moz-box-shadow : $shadow;
box-shadow : $shadow; }

// .drop-shadow(0, 1px, 2px, .2);

@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
-webkit-box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
-moz-box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha); }

// .opacity(.5);

@mixin opacity($opacity : .5) {
-webkit-opacity : $opacity;
-moz-opacity : $opacity;
opacity : $opacity; }

// .rounded(4px);

@mixin rounded($radius:4px) {
-webkit-border-radius : $radius;
-moz-border-radius : $radius;
border-radius : $radius; }

// .rotate(15deg);

@mixin rotate($deg) {
-webkit-transform : rotate($deg);
-moz-transform : rotate($deg);
-ms-transform : rotate($deg);
-o-transform : rotate($deg);
transform : rotate($deg); }

// .scale(.5);

@mixin scale($ratio) {
-webkit-transform : scale($ratio);
-moz-transform : scale($ratio);
-ms-transform : scale($ratio);
-o-transform : scale($ratio);
transform : scale($ratio); }

// .skew(VALUE, VALUE);

@mixin skew($x: 0, $y: 0) {
-webkit-transform : skew($x, $y);
-moz-transform : skew($x, $y);
-ms-transform : skew($x, $y);
-o-transform : skew($x, $y);
transform : skew($x, $y); }

// .transition(2s, ease-out);

@mixin transition($duration : .2s, $ease:ease-out) {
-webkit-transition : all $duration $ease;
-moz-transition : all $duration $ease;
-ms-transition : all $duration $ease;
-o-transition : all $duration $ease;
transition : all $duration $ease; }

// .translate(VALUE, VALUE)

@mixin translate($x: 0, $y: 0) {
-webkit-transform : translate($x, $y);
-moz-transform : translate($x, $y);
-ms-transform : translate($x, $y);
-o-transform : translate($x, $y);
transform : translate($x, $y); }

@mixin translate3d($x: 0, $y: 0, $z: 0) {
-webkit-transform : translate($x, $y, $z);
-moz-transform : translate($x, $y, $z);
-ms-transform : translate($x, $y, $z);
-o-transform : translate($x, $y, $z);
transform : translate($x, $y, $z); }

// 5. ELEMENTS 				==============================

@mixin background-size($size){
-webkit-background-size : $size;
-moz-background-size : $size;
-o-background-size : $size;
background-size : $size; }

@mixin box-sizing($boxsize: border-box) {
-webkit-box-sizing : $boxsize;
-moz-box-sizing : $boxsize;
-ms-box-sizing : $boxsize;
box-sizing : $boxsize; }

// Chrome Frame

@mixin chromeframe() { 
margin : .2em 0; 
background : $lightgrey; 
color : $black; 
padding : .2em 0; }

// Contain floats

.clearfix {
*zoom : 1;
&:before,
&:after {
display: table;
content : ""; }
&:after {
clear : both; } }

// For image replacement

@mixin hide-text() {
text-indent : 100%;
white-space : nowrap;
overflow : hidden; }

// Hide from visual and speaking browsers

@mixin hidden() {
display : none !important; 
visibility : hidden; }

// Hide but maintain layout

@mixin invisible() { 
visibility : hidden; }

// Resize eg: textareas

@mixin resize($direction: both) {
resize : $direction;
overflow : auto; }

// Hidden but available to speaking browsers

@mixin visuallyhidden() { 
overflow : hidden; 
position : absolute;
clip : rect(0 0 0 0); 
height : 1px; 
width : 1px;
margin : -1px; 
padding : 0; 
border : 0; }

// Make visuallyhidden focusable with a keyboard

.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus { 
position : static;
clip : auto; 
height : auto; 
width : auto;
margin : 0; 
overflow: visible; }

// 6. LAYOUT 				============================== 

// .columns(250px, 0, 24px, COLOR, solid, 1px)

@mixin columns($colwidth: 250px, $colcount: 0, $colgap: 50px, $columnRuleColor: #eee, $columnRuleStyle: solid, $columnRuleWidth: 1px) {
-webkit-column-width : $colwidth;
-webkit-column-count : $colcount;
-webkit-column-gap : $colgap;
-webkit-column-rule-color : $columnRuleColor;
-webkit-column-rule-style : $columnRuleStyle;
-webkit-column-rule-width : $columnRuleWidth;
-moz-column-width : $colwidth;
-moz-column-count : $colcount;
-moz-column-gap : $colgap;
-moz-column-rule-color : $columnRuleColor;
-moz-column-rule-style : $columnRuleStyle;
-moz-column-rule-width : $columnRuleWidth;
column-width : $colwidth;
column-count : $colcount;
column-gap : $colgap;
column-rule-color : $columnRuleColor;
column-rule-style : $columnRuleStyle;
column-rule-width : $columnRuleWidth; }

//  7. VENDOR-SPECIFIC 		==============================
//  8. MODERNIZR 			==============================
//  9. TEMPLATE SPECIFICS 	==============================