<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta name="robots" content="INDEX,FOLLOW">
<meta name="apple-mobile-web-app-title" content="">

<link rel="canonical" href="">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/320andup.css">

<!-- Favicon -->
<link rel="shortcut icon" type="image/ico" href="/favicon.ico">
<link rel="shortcut icon" href="/favicon.png" sizes="32x32">

<!--iOS -->
<link rel="apple-touch-icon" href="/assets/img/site/apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/site/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/site/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/site/apple-touch-icon-144x144-precomposed.png">

<!-- Facebook/Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@">
<meta name="twitter:url" property="og:url" content="">
<meta name="twitter:title" property="og:title" content="">
<meta name="twitter:description" property="og:description" content="">
<meta name="twitter:image" property="og:image" content="">

<!-- Windows -->
<meta name="msapplication-TileColor" content="">
<meta name="msapplication-TileImage" content="/assets/img/site/apple-touch-icon-precomposed.png">

<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Merriweather|Lato:400,300,700' rel='stylesheet' type='text/css'>