// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
//
// Sass Port by Jina Bolton
// URL: http://sushiandrobots.com
//
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 768 =================================================== */

// 1. ROOT 					==============================

body {
  display : table;
  border-collapse : collapse;
}

// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================

//   BANNER 				==============================

[role="banner"] a[href="#navigation"] {
  @include hidden;
}

//   NAVIGATION 			==============================

[role="navigation"] {
  display : table-header-group;

  p {
    margin : 0 auto;
    width : 90%;
  }
}

//   CONTENT 				==============================
//   11 MAIN 				==============================
//   COMPLEMENTARY 			==============================
//   CONTENTINFO 			==============================

//  7. VENDOR-SPECIFIC 		==============================
//  8. MODERNIZR 			==============================
//  9. TEMPLATE SPECIFICS 	==============================