.sans-serif{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.serif{font-family:"Cambria, Georgia, Times, " Times New Roman;}
.monospace{font-family:"Monaco",Courier New,monospace;}
.clearfix{zoom:1;}.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;overflow:hidden;}
.clearfix:after{clear:both;}
