// ==========================================================

/* 320 and Up */
/* Panels Upstart */
/* Version: 1.0 */
/* Author: Andy Clarke */
/* URL: http://stuffandnonsense.co.uk/projects/320andup */
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// HEADS UP: 320 and Up Panels Upstart is dependent on
// grid styles from Modules Upstart. If you’re importing it
// you’re ready to go. Otherwise, import it or copy and paste
// its styles here.

// ==========================================================

// Full width panel containers

.full {
margin-bottom : $baseline;
padding : $baseline;
background-color : lighten($basecolor, 75%);
border-top : 2px solid lighten($basecolor, 60%);
border-bottom : 2px solid lighten($basecolor, 60%); }

.full .grids {
width : 90%;
margin : 0 auto;
padding : $baseline 0; }

// 480px
@media only screen and (min-width: 480px) {
/* Styles */
}

// 600px
@media only screen and (min-width: 600px) {
/* Styles */
}

// 768px
@media only screen and (min-width: 768px) {

// Extra wide grid units
.special .grids-three .grid-a,
.special .grids-four .grid-a {
width : 43.03%; }

}

// 992px
@media only screen and (min-width: 992px) {

// Extra wide grid units
.special .grids-three .grid-a,
.special .grids-four .grid-a {
width : 100%; }
}

// 1382px
@media only screen and (min-width: 1382px) {
/* Styles */
}

// 2x
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
/* Styles */
}