a {
text-decoration : none;
color : $link-color;

&:visited {
color : $link-color-visited; }

&:hover {
text-decoration : none;
color : $link-color-hover; }

&:focus {
outline : thin dotted;
color : $link-color-focus; }

&:hover,
&:active {
outline : 0; }
}

a:link {
transition : all $transition-duration $transition-timing-function; }