@-webkit-viewport { 
width : device-width; }

@-moz-viewport { 
width : device-width; }

@-ms-viewport { 
width : device-width; }

@-o-viewport { 
width : device-width; }

@viewport { 
width : device-width; }


html {
background : $body-background;
font-size : 62.5%;
-webkit-font-smoothing : antialiased;
-moz-osx-font-smoothing : grayscale;
-webkit-overflow-scrolling : touch;
-webkit-tap-highlight-color : $base-bg;
-webkit-text-size-adjust : 100% }

body {
margin : 0;
padding : 0;
background-color : transparent;
font-family : $font-family;
font-weight : $font-weight;
@include font-size($font-size);
line-height : $font-lineheight;
color : $font-color; 

@include bp(bp4) {
@include font-size($font-size-plus-one); }
}

a, button, input, select, textarea, label, summary {
touch-action : manipulation; }