ul, ol {
margin : 0 0 ($vertical-spacing) 0;
padding : 0 0 0 ($gutter); 

@include bp(bp3) { 
margin : 0 0 ($vertical-spacing) -22px; }


}

li {
margin-bottom : ($vertical-spacing / 8);
@include font-size($font-size); }

li > ul,
li > ol {
list-style-type : none;
margin : 1.5rem 0 0 $gutter;
padding : 0; }

dt {
margin-bottom : ($vertical-spacing / 8);
@include font-size($font-size-plus-two); }

dd {
margin-bottom : ($vertical-spacing * 2);
margin-left : 0;
line-height : 1.3; }



// list--inline

.list--inline {
list-style-type : none; 
margin-left : 0; 
padding-left : 0; 

@include bp(bp3) { 
display : flex;
justify-content : space-between; }

li {

@include bp(bp3) { 
display : inline-block; 
margin-right : ($gutter); }

&:last-child {
margin-right : 0; }
}
}



// list--plain

.list--plain {
list-style-type : none; 
margin-left : 0; 
padding-left : 0; }