// ==========================================================

/* 320 and Up
/* Modules upstart
/* Version: 1.0
/* Author: Andy Clarke
/* URL: http://stuffandnonsense.co.uk/projects/320andup
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

.grid
  margin-bottom: $baseline
  border-bottom: 1px dashed lighten($basecolor, 60%)

.grid:last-child
  margin-bottom: 0
  border-bottom-width: 0

.furniture-letter
  overflow: hidden

.furniture-letter span
  display: block
  float: left
  margin: 0 12px 0 0
  height: 44px
  width: 44px
  background-color: $basecolor
  color: $white
  +font-size(32)
  font-weight: bold
  line-height: 44px
  text-align: center

// 480px
@media only screen and (min-width: 480px)
  /* Styles

// 600px
@media only screen and (min-width: 600px)
  /* Styles

// 768px
@media only screen and (min-width: 768px)
  // .grids-two
  .grids-two .grid
    width: 43.03%
    margin-bottom: 0
    border-bottom-width: 0
  .grids-two .grid-1
    float: left
  .grids-two .grid-2
    float: right
  // grids-three
  .grids-three .grid-a
    float: left
    width: 31.64%
    margin-right: 2.53%
  // grids-four
  .grids-four .grid-a
    float: left
    width: 31.64%
    margin-right: 2.53%

// 992px
@media only screen and (min-width: 992px)
  // grids-three
  .grids-three .grid
    float: left
    width: 31.64%
    margin: 0 2.53% 0 0
    border-bottom-width: 0
  .grids-three .grid-3
    float: right
    margin-right: 0
  .grids-three .grid .grid-a
    float: none
    width: 100%
    margin-right: 0
    margin-bottom: $baseline / 2
  // grids-four
  .grids-four .grid
    float: left
    width: 20.25%
    margin: 0 6.32% 0 0
    border-bottom-width: 0
  .grids-four .grid-4
    float: right
    margin-right: 0
  .grids-four .grid .grid-a
    float: none
    width: 100%
    margin-right: 0

// 1382px
@media only screen and (min-width: 1382px)
  /* Styles

// 2x

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)
  /* Styles
